body{
			font-family: arial
			font-size :16px;
			text-align: justify;
			padding: 1%;
		}
		nav{
			text-align: center;
		}
		#atendimento{
			text-align: right;
		}
		header{
			 text-align: center;
		}
		#img-topo{
			background-color: #2E8B57;
			height: 200px;
		}
		h1{
			text-align: center;
			color: #2E8B57;
			font-size: 22px;
		}
		h2{
		
			font-size: 21px;
		}
		#grade{
			display: grid;
			grid-template-areas: "imagem texto";		
		}
		.imagem{
			
			text-align: center;
		}
		.texto{
			
			text-align: center;

		}
		#wagner{
			border-radius: 50%;
		}
		#professor{
			background-color: #2E8B57;
			text-align: center;
			padding: 1%;

		}
		h4{
			color: #fff;
			font-size: 22px
		}
		#logo-rodape{
			border-radius: 10%;
		}
		footer{
			background-color: #2E8B57;
			text-align: center;
			color: #fff;
			padding: 1%;
		}
		hr{
			width: 70%;
			border-color: #2E8B57;
		}

		hr.bco{
			width: 70%;
			border-color: #fff;
		}

		a:link, a:visited, a:active{
			text-decoration: none;
		}
		a:houver{
			background-color: #2E8B57;
			color: #fff;
		}
